@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
   box-sizing: border-box;
}

body{
   font-family: 'Raleway', sans-serif;
   margin:0px;
   background-color: #EDF2F4;
   display: flex;
   flex-direction: column;
}
h2{
   color:#D90429 ;
}

.intro1{
   padding:1em;
   background-color: #8D99AE;
}

.corpo{
   padding:1em;
   padding-bottom:0px;
   
}

section{
   display: block;
}

.progr{
   display:inline-block;
}

header{
 display: flex; 
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: #2B2D42;
 width: 100%;
 height:10em;
 margin:0px;
 padding:0px; 
 color: white;
 position: sticky;
 z-index: 1000;
}
header h2{
   color: white;
}

h1{
   display: block;

}

.corpo p, ul{
   font-size: 15px;
   padding-left: 50px;
}

.intro{
   margin:5px;
}

.bar {
 padding-left: 10px;
 color: #5820df;
 background: #59eab7;
 border: 4px solid #ee97ef;
 font-size: .8em;
}

.icone{
   float:right; 
   position: absolute;
   z-index: 10000;
   width: 30px;
   height: 3opx;
}

.grid{
   display: grid;
   grid-template-columns: 1fr 7fr;

}
.anni{
   display: flex;
}

.anni .anno{
   width:10%;
 
}

.anni .anno h3{
   margin: 3px; 
}

h3{
   color: #EF233C;
   
}

.anni .train{
   width: 90%;
   overflow: wrap;
   font-family: 'Raleway', sans-serif;
   font-size: 15px ;
}

.anni .train h4{
   font-size: 15px;
   margin: 3px;
}

.exp{
   font-size: 15px;
   display: flex;
}

.exp .exp1{
   width:10%;
   font-size: 15px ;
 
}

.exp .exp1 h3{
   margin: 3px; 
   font-size: 15px;
}


.exp .tra_exp{
   width: 90%;
   overflow: wrap;
   font-family: 'Raleway', sans-serif;
   font-size: 15px ;
}

.exp .tra_exp{
   margin: 3px;
}
.exp .tra_exp h4{
   font-size: 15px;
   margin: 3px;
}
.exp .tra_exp p{
   font-size: 15px;
   padding-left: 0px;
}

.lang h4 {
   width: 25%;
   display: inline; 
   font-size: 15px;
}

.lang p{
   width: 75%;
   display: inline; 
   float: right;
   margin:0;
   font-size: 15px ;
}

.lang .langu{
   width: 30%;
   font-size: 15px;

}

.lang{
   padding-top:0px;
 
}

p.comp{
   width:100%;
   display: inline-block; 
   padding-left: 0px;
   padding-bottom: 15px;
   margin-bottom: 15px;
}
p.comp2{
   width:100%;
   height:max-content;
   display: inline-block; 
   padding-left: 0px;

}

.fin2{
   color: #EDF2F4;
   background-color: #2B2D42;
   padding:1em;
}

@media only screen and (max-width: 400px){
   header{
      font-size: 13px;
      height:15em;
   }

   .anni .anno{
      width:20%;
    
   }
   
   .anni .train{
      width: 80%;
      
   }
   
   .exp .exp1 h3{
   display: block;
   width:100%;
   padding:1px;
  

   }

   .exp{
      display: flex; 
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .lang h4 {
      width: 30%;
   }
   
   .lang p{
      width: 70%;

   }
   .lang .langu{
      width: 100%;
   
   }

   p.comp{
      float:left;
      width: 100%;
      display: block;
      margin-bottom: 20px;
   }
   p.comp2{
      float:left;
      width: 100%;
      display: block;
   
   }
   header h1{
      padding-left:15px;
      padding-right:15px;
      
   }
}

@media only screen and (max-width: 820px){
   header{
      font-size: 13px;
      height:15em;
   }

   .anni .anno{
      width:20%;
    
   }
   
   .anni .train{
      width: 80%;
      
   }
   
   .exp .exp1 h3{
   display: block;
   width:100%;
   padding:1px;
  

   }

   .exp{
      display: flex; 
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .lang h4 {
      width: 30%;
   }
   
   .lang p{
      width: 70%;

   }
   .lang .langu{
      width: 100%;
   
   }

   p.comp{
      float:left;
      width: 100%;
      display: block;
      margin-bottom: 20px;
   }
   p.comp2{
      float:left;
      width: 100%;
      display: block;
   
   }
   header h1{
      padding-left:15px;
      padding-right:15px;
      
   }
}